@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #283618;
    --background-color: #d3d3d3;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

label{
    margin: 0.5rem auto;
    font-size: 1.5rem;
    
}
h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h2{

    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    max-width: 100vh;
    margin:1rem auto;
}    

.container {
    display: flex;
    flex-direction: column;
    width: 80vh;
    margin: auto;
}

.enter-amount {
    margin: 1rem auto;
    min-height: 30px;
    font-size: medium;
    border: 2px var(--primary-color) solid;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
}

#btn-next {
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px var(--primary-color) solid;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

#btn-check {
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px var(--primary-color) solid;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
